*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body{
    display: flex;
}

#myCanvas{  
  width: 4000px;
  height: 4000px; 
  margin-left: 620px;
} */

#myCanvas{
  margin-top: 100px;
  margin-left: 100px;
}